@appBackground: #1d2631;
@appTextColor: #ffffff;

.about-app {
  background-color: @appBackground;
  color: @appTextColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-app__download {
  width: 281px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 30px;
  margin-top: 28px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}
.download__menu {
  width: 232px;
}
.download__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download__menu-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.download__menu--apple {
  width: 60px;
  height: 60px;
  background: url(../img/logo-apple.svg) no-repeat center;
}
.download__menu--android {
  width: 60px;
  height: 60px;
  background: url(../img/logo-android.svg) no-repeat center;
}
.download__menu--windows {
  width: 60px;
  height: 60px;
  background: url(../img/logo-microsoft.svg) no-repeat center;
}
.download__menu--description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  margin-bottom: 34px;
}
