.about-me__form {
  .ad-flex(flex; column; center; center; wrap);
}
.name__list,
.achievement__list,
.contact__list,
.system__list {
  list-style: none;
}
::-webkit-input-placeholder {
  color: @blue-color;
}
::-moz-placeholder {
  color: @blue-color;
}
:-moz-placeholder {
  color: @blue-color;
}
:-ms-input-placeholder {
  color: @blue-color;
}
