.about-me__form {
  .ad-flex(flex; column; center; center; wrap);
}

.about-me__name-tight,
.about-me__achievement-list,
.about-me__contact-list,
.about-me__system-list-choise {
  list-style: none;
}

::-webkit-input-placeholder {
  color: @blue-color;
}

::-moz-placeholder {
  color: @blue-color;
}

:-moz-placeholder {
  color: @blue-color;
}

:-ms-input-placeholder {
  color: @blue-color;
}

.about-me {
  min-width: 320px;
}

.about-me__name-system-wrap {
  display: none;
}

@media (min-width: @tabletWidth) {
  .about-me__form-box {
    .ad-flex(flex; column; center; center; wrap);
  }

  .about-me__achievement-list {
    order: 3;
  }

  .about-me__contact-list {
    order: 2;
  }
}

@media (min-width: @desktopWidth) {
  .about-me__form {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me__name-system-wrap {
    .ad-flex(flex; row; space-between; center; wrap);
    margin-bottom: 10px;
    width: 936px;
  }

  .about-me__name-list-broad {
    list-style: none;
    align-self: flex-start;
    width: 432px;
    margin-top: 60px;
    margin-bottom: 0px;
    .ad-flex(flex; column; center; center; wrap);
    padding-left: 0px;
    min-height: 298px;
  }

  .about-me__system-list-broad {
    width: 432px;
    min-height: 297px;
    margin-bottom: 30px;
    margin-top: 34px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    padding: 54px 60px 54px 60px;
  }

  .about-me__system-list-item {
    .ad-flex(flex; row; flex-start; center; wrap);
    align-self: flex-start;
    padding-left: 0px;
    width: 320px;
    margin-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
  }

  .about-me__system-list-item:nth-child(2) {
    margin-bottom: 30px;
  }

  .about-me__system-list-item:nth-child(3) {
    margin-bottom: 30px;
  }

  .about-me__form-text {
    width: 368px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 32px;
    top: -15px;
    background-color: #ffffff;
    color: @pink-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 2px;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    list-style: none;
  }
}

input:required:invalid:not(:placeholder-shown) {
  background-color: #f7d6c7;
}

input:required:valid:not(:placeholder-shown) {
  background-color: #c9f9c8;
}
