@pink-color: #d22856;
@blue-color: #283645;
@width: 276px;

.achievement__list {
  .ad-flex(flex; column; center; center; wrap);
  padding-left: 0px;
  margin-top: 30px;
  background-color: #f2f2f2;
  padding-top: 20px;
}
.achievement__list--item {
    width: 320px;
    margin-bottom: 47px;
    padding-left: 22px;
    box-sizing: border-box;
}

.form__achievement {
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.item-box {
  display: none;
}
.item-box--change {
  display: flex;
  width: 35px;
  height: 35px;
  margin-right: 33px;
  position: relative;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 3px;
}
.item-box--change:hover {
  border-color: @blue-color;
}
.item-box--change::before {
  content: "";
  width: 20px;
  height: 8px;
  border: 2px solid @pink-color;
  border-top: none;
  border-right: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 6px;
  transition: 0.2s;
  transform: rotate(-45deg);
}
.item-box:checked + .item-box--change::before {
  opacity: 1;
}
.item-box:checked + .item-box--change {
  border-color: @pink-color;
}
.item-wrap {
  color: @blue-color;
  font-size: 18px;
  .ad-flex(flex; row; flex-start; center; wrap);
}
@media (min-width: @tabletWidth) {
  .achievement__list {
    width: 616px;
    background-color: #ffffff;
    padding: 54px 60px 54px 60px;
    margin-top: 0px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .form__achievement {
    width: 436px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -15px;
    background-color: #ffffff;
  }
  .form__achievement-b {
    display: none;
  }
  .achievement__list--item {
    align-self: flex-start;
  }
}
@media (min-width: @desktopWidth) {
  .achievement__list {
    width: 936px;
    .ad-flex(flex; row; space-between; center; wrap);
  }
  .achievement__list--item {
    width: 260px;
    padding-left: 0px;
  }
  .item-box--change {
    margin-right: 20px;
  }
  .i1 {
    order: 1;
  }
  .i2 {
    order: 4;
  }
  .i3 {
    order: 2;
  }
  .i4 {
    order: 5;
  }
  .i5 {
    order: 3;
  }
  .i6 {
    order: 6;
  }
}
