@adColorBlue: #283645;

@adColorBlack: #000000;

.advertisement-app__slogans {
  .ad-flex(flex; column; center; center; wrap);
  background-color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  margin-top: 50px;
  color: @adColorBlue;
  position: relative;
  z-index: 1;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.item__logo-iphone {
  display: none;
}

.slogans__item--desktop {
  display: none;
}

.slogans__item {
  margin-top: 0px;
  margin-bottom: 15px;
  width: 100%;
}

.slogans__item--bottom {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
}

.advantages__item {
  width: 320px;
  box-sizing: border-box;
  padding-left: 34px;
  padding-right: 34px;
}

@media (min-width: @tabletWidth) {
  .advertisement-app__slogans {
    font-size: 40px;
    width: 660px;
  }

  .slogans__item--desktop {
    display: flex;
    margin-top: 0px;
  }

  .slogans__item--bottom {
    display: none;
  }

  .slogans__item {
    margin-bottom: 0px;
  }
}

@media (min-width: @desktopWidth) {
  .advertisement-app__slogans {
    font-size: 50px;
    width: 1200px;
  }

  .item__logo-iphone {
    display: flex;
  }
}

@media (min-width: @desktopWidth) {
  .slogans__item--bottom {
    display: none;
  }

  .slogans__item--desktop {
    display: flex;
    margin-top: 0px;
  }

  .slogans__item {
    margin-bottom: 0px;
  }
}

.advertisement-app__advantages {
  .ad-flex(flex; column; center; center; wrap);
  text-align: center;
  color: @adColorBlack;
  padding-top: 50px;
  background: url(../img/bg-triangle-white.svg) no-repeat;
  background-color: #f2f2f2;
  background-size: contain;
}

@media (min-width: @tabletWidth) {
  .advertisement-app__advantages {
    .ad-flex(flex; row-reverse; center; center; wrap);
    padding-top: 0px;
  }

  .advantages__wrap {
    width: 306px;
    text-align: start;
    box-sizing: border-box;
    padding-left: 10px;
    margin-left: 10px;
  }

  .advantages__item {
    width: 306px;
  }
}

@media (min-width: @desktopWidth) {
  .advertisement-app__advantages {
    .ad-flex(flex; row-reverse; center; center; wrap);
  }

  .advantages__wrap {
    .ad-flex(flex; row; space-between; center; wrap);
    box-sizing: border-box;
    width: 1200px;
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktopWidth) {
  .advantages__item {
    .ad-flex(flex; column; center; center; wrap);
    width: 292px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .item__text-br {
    display: none;
  }
}

.item__title {
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: @desktopWidth) {
  .item__title {
    font-size: 30px;
    line-height: 30px;
    width: 230px;
  }
}

.item__text {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @desktopWidth) {
  .item__text {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    width: 248px;
  }
}

.advantages__mobile {
  .width-height(157px; 320px);
  background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
  margin-top: 25px;
}

@media (min-resolution: @retina-dppx) {
  .advantages__mobile {
    background: url(../img/iphone-screen-mobile@2x.png);
    background-size: contain;
  }
}

@media (min-width: @tabletWidth) {
  .advantages__mobile {
    width: 268px;
    height: 481px;
    background: url(../img/iphone-screen-3-tablet@1x.png) no-repeat;
    margin-right: 30px;
  }
  @media (min-resolution: @retina-dppx) {
    .advantages__mobile {
      background: url(../img/iphone-screen-3-tablet@2x.png);
      background-size: contain;
  }
}
}

@media (min-width: @desktopWidth) {
  .advantages__mobile {
    display: none;
  }
}

.advantages__profit {
  display: none;
  margin-top: 60px;
  margin-bottom: 70px;
  min-width: 660px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: @tabletWidth) {
  .advantages__profit {
    .ad-flex(flex; row; space-between; center; wrap);
  }
}

@media (min-width: @desktopWidth) {
  .advantages__profit {
    width: 1200px;
    box-sizing: border-box;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    height: 500px;
  }
}

.advantages__profit-text {
  width: 290px;
  text-align: left;
}

.profit-text--title {
  font-size: 30px;
  line-height: 36px;
}

.profit-text--description {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.profit-text--description-b1 {
  display: none;
}

@media (min-width: @desktopWidth) {
  .advantages__profit-text {
    width: 525px;
    margin-right: 40px;
  }

  .profit-text--title-b {
    display: none;
  }

  .profit-text--description {
    font-size: 18px;
    width: 520px;
  }

  .profit-text--description-b {
    display: flex;
  }

  .profit-text--description-b1 {
    display: none;
  }

  .profit-text--link {
    font-size: 18px;
  }
}

.advantages__profit-logo {
  width: 238px;
  height: 276px;
  background: url(../img/icon-timer.svg) no-repeat;
  background-size: contain;
  position: relative;
}

.advantages__profit-logo::before {
  content: "";
  width: 160px;
  height: 160px;
  background-color: transparent;
  position: absolute;
  border: 16px solid #d22856;
  border-radius: 50%;
  top: 61px;
  left: 23px;
}

.advantages__profit-logo::after {
  content: "24";
  position: absolute;
  font-size: 96px;
  top: 100px;
  left: 66px;
  color: #d22856;
  font-weight: bold;
}

@media (min-width: @desktopWidth) {
  .advantages__profit-logo {
    transform: scale(1.2);
    margin-left: 30px;
  }
}

.profit-text--link {
  color: #d22856;
}

.review__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.description--title {
  font-size: 18px;
  line-height: 30px;
}

.description--text {
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: @desktopWidth) {
  .description--text {
    font-size: 18px;
    ;
  }
}

.slider {
  position: relative;
  .ad-flex(flex; column-reverse; center; center; wrap);
}

.slider--quotes {
  display: none;
}

@media (min-width: @desktopWidth) {
  .slider {
    background-color: #ffffff;
    padding-top: 72px;
  }

  .slider--quotes {
    display: flex;
  }
}

#btn-7,
#btn-8 {
  display: none;
}

.slider input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

@media (min-width: @desktopWidth) {
  .slider-inner {
    padding-top: 50px;
    width: 660px;
  }

  .slides__slide {
    display: flex;
  }
}

.slider-slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.slides__slide--1,
.slides__slide--2,
.slides__slide--3 {
  float: left;
  width: 320px;
  min-height: 230px;
}

.slider-controls {
  margin-bottom: 10px;
  text-align: center;
  .ad-flex(flex; row; space-between; center; wrap);
  width: 50px;
}

.slider-controls label[for="btn-7"],
.slider-controls label[for="btn-8"] {
  display: none;
}

.slider-controls label {
  .ad-flex(flex; row; center; center; wrap);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  cursor: pointer;
  transition: border 0.2s;
  border: 3px solid #ffffff;
}

@media (min-width: @desktopWidth) {
  .slider-controls {
    position: relative;
  }

  .slider-controls label {
    position: absolute;
  }

  .slider-controls label[for="btn-7"] {
    display: flex;
    right: 450px;
    bottom: 145px;
    background-color: transparent;
    background: url(../img/icon-review-arrow-left.svg) no-repeat;
    width: 22px;
    height: 42px;
    opacity: 0.3;
  }

  .slider-controls label[for="btn-8"] {
    display: flex;
    left: 450px;
    bottom: 145px;
    background-color: transparent;
    background: url(../img/icon-review-arrow-right.svg) no-repeat;
    width: 22px;
    height: 42px;
    opacity: 0.3;
  }

  .slider-controls label[for="btn-7"]:hover,
  .slider-controls label[for="btn-8"]:hover {
    opacity: 0.6;
  }

  .slider-controls label[for="btn-7"]:active,
  .slider-controls label[for="btn-8"]:active {
    opacity: 0.1;
  }
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  border: 3px solid @blue-color;
  background-color: transparent;
}

.slider-review {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
  .ad-flex(flex; column; center; center; wrap);
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
}

.slider-review::after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-6deg);
  transform-origin: 100%;
  z-index: -1;
}

@media (min-width: @desktopWidth) {
  .slider-review {
    background-color: #ffffff;
    margin-top: 0px;
    padding-bottom: 0px;
  }
}

.description--title-add {
  display: none;
}

@media (min-width: @tabletWidth) {
  .slide-description {
    .ad-flex(flex; column-reverse; center; center; wrap);
  }

  .description--title-add {
    .ad-flex(flex; column; center; center; wrap);
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: #283645;
  }

  .description--title {
    font-size: 20px;
  }

  .slides__slide--1,
  .slides__slide--2,
  .slides__slide--3 {
    width: 660px;
    min-height: 190px;
  }
}

@media (min-width: @desktopWidth) {
  #btn-7,
  #btn-8 {
    display: none;
  }

  .slider-controls label[for="btn-1"],
  .slider-controls label[for="btn-2"],
  .slider-controls label[for="btn-3"] {
    display: none;
  }
}

@media (min-width: @desktopWidth) {
  .description--title {
    font-size: 24px;
  }
}

@media (min-width: @desktopWidth) {
  .description--title-add {
    font-size: 18px;
  }
}

.active {
  background-color: #ffffff;
}
