@adColorBlue: #283645;
@adColorBlack: #000000;

.advertisement-app__slogans {
  .ad-flex(flex; column; center; center; wrap);
  background-color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  margin-top: 50px;
  color: @adColorBlue;
  position: relative;
  z-index: 1;
}
.advertisement-app__slogans::after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-6deg);
  transform-origin: 100%;
  z-index: -1;
}
.slogans__item {
  margin-top: 0px;
  margin-bottom: 15px;
  width: 100%;
}
.slogans__item--bottom {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
}
.advertisement-app__advantages {
  .ad-flex(flex; column; center; center; wrap);
  text-align: center;
  color: @adColorBlack;
  background-color: #f2f2f2;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 50px;
}
.advantages__item {
  width: 100%;
}
.item__title {
  font-size: 18px;
  line-height: 24px;
}
.item__text {
  font-size: 14px;
  line-height: 24px;
}
.advantages__mobile {
  .width-height(157px; 320px);
  background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
  margin-top: 25px;
}

.review__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.description--title {
  font-size: 18px;
  line-height: 30px;
}
.description--text {
  font-size: 14px;
  line-height: 30px;
}


.slider {
  position: relative;
  .ad-flex(flex; column-reverse; center; center; wrap);
}

.slider input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.slides__slide--1,
.slides__slide--2,
.slides__slide--3 {
  float: left;
  width: 320px;
}

.slider-controls {
  margin-bottom: 10px;
  text-align: center;
  .ad-flex(flex; row; space-between; center; wrap);
  width: 50px;
}

.slider-controls label {
  .ad-flex(flex; row; center; center; wrap);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  cursor: pointer;
  transition: border 0.2s;
  border: 3px solid #ffffff;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  border: 3px solid @blue-color;
  background-color: transparent;
}


#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-320px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-640px);
}
.slider-review {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
  .ad-flex(flex; column; center; center; wrap);
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
}
.slider-review::after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-6deg);
  transform-origin: 100%;
  z-index: -1;
}
