.advertisement-app__slogans--photo {
  .ad-flex(flex; row; center; center; wrap);
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comments__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
.comments__item--panorama {
  width: 320px;
  height: 137px;
  background: url(../img/panorama-mobile@1x.jpg) no-repeat;
}
.comments__item--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.advertisement-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #283645;
}
.text__user {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
.text__description {
  margin-top: 0px;
  font-size: 14px;
  line-height: 24px;
}
.text__ilikeit {
  color: #d22856;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  margin-top: 0px;
}
.heart {
  fill: #d22856;
  margin-right: 15px;
}
.comments__item--photo1 {
  width: 280px;
  height: 180px;
  background: url(../img/photo-car-mobile@1x.jpg);
}
.comments__item--photo2 {
  width: 280px;
  height: 180px;
  background: url(../img/photo-drumset-mobile@1x.jpg);
}
.comments__item--photo3 {
  width: 280px;
  height: 180px;
  background: url(../img/photo-window-mobile@1x.jpg);
}
.comments__item--photo4 {
  width: 280px;
  height: 180px;
  background: url(../img/photo-fair-mobile@1x.jpg);
}
.comments__item--photo5 {
  width: 280px;
  height: 180px;
  background: url(../img/photo-pov-mobile@1x.jpg);
}
.comments__item--photo6 {
  width: 280px;
  height: 180px;
  background: url(../img/photo-wing-mobile@1x.jpg);
}
.user__time {
  font-weight: 300;
  text-transform: uppercase;
  color: #283645;
}
.adv__description {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  background-color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
