@pink-color: #d22856;

@blue-color: #283645;

@width: 276px;

.about-me__name-tight {
  width: @width;
  .ad-flex(flex; column; center; center; wrap);
  padding-left: 0px;
}

.about-me__item-text {
    min-height: 59px;
  width: @width;
  font-size: 18px;
  padding-left: 22px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}
.about-me__item-upper,
.about-me__item-middle,
.about-me__item-downer {
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 2px;
  margin-left: 20px;
}

.about-me__item-text:hover {
  border-color: @blue-color;
}

.about-me__item-text:focus {
  border-color: @pink-color;
}

@media (min-width: @tabletWidth) {
  .about-me__name-tight {
    width: 616px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .about-me__name-list-item {
    width: 616px;
  }

  .about-me__name-list-item-inner {
    .ad-flex(flex; row; space-between; center; wrap);
    margin-bottom: 56px;
  }

  .surname {
    width: 521px;
  }

  .name {
    width: 561px;
  }

  .thirdname {
    width: 521px;
  }

  .about-me__item-upper,
  .about-me__item-middle,
  .about-me__item-downer {
    margin-left: 0px;
  }
}

@media (min-width: @desktopWidth) {
  .about-me__name-tight {
    display: none;
  }

  .surname {
    width: 336px;
  }

  .name {
    width: 376px;
  }

  .thirdname {
    width: 336px;
  }

  .about-me__name-list-item {
    width: 432px;
  }
}
