@pink-color: #d22856;
@blue-color: #283645;
@width: 276px;

.name__list {
  width: @width;
  .ad-flex(flex; column; center; center; wrap);
  padding-left: 0px;
}
.item {
  &--text {
    min-height: 59px;
    width: @width;
    font-size: 18px;
  }
  &--surname,&--name,&--thirdname {
    color: @pink-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 2px;
    margin-left: 20px;
  }
}
