.page__footer {
  .ad-flex(flex; column; center; center; wrap);
  margin-top: 40px;
  margin-bottom: 40px;
}
.socialnetworks--item-tweeter {
  fill: #d22856;
  border: 2px solid #e9ebec;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  .ad-flex(flex; row; center; center; wrap);
}
.socialnetworks--item-facebook {
  fill: #d22856;
  border: 2px solid #e9ebec;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  .ad-flex(flex; row; center; center; wrap);
}
.socialnetworks--item-youtube {
  fill: #d22856;
  border: 2px solid #e9ebec;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  .ad-flex(flex; row; center; center; wrap);
}
.links__socialnetworks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 190px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 40px;
}
.footer__links {
  width: 190px;
  .ad-flex(flex; column; center; center; wrap);
}
.links__htmlacademy {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
.htmlacademy__text {
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}
.htmlacademy__icon {
  fill: #d22856;
}
.htmlacademy__icon:hover {
  fill: @blue-color;
}
.htmlacademy__icon:active {
  fill: @blue-color;
  opacity: 0.3;
}
.socialnetworks--item-tweeter:hover,
.socialnetworks--item-facebook:hover,
.socialnetworks--item-youtube:hover {
  border-color: #283645;
}
.socialnetworks--item-tweeter:active,
.socialnetworks--item-facebook:active,
.socialnetworks--item-youtube:active {
  border-color: #e9ebec;
  fill: rgba(210, 40, 86, 0.3);
}
.links__double--pink {
  fill: #283645;
}
.links__double:hover .links__double--pink {
  fill: @pink-color;
}
.links__double:active {
  opacity: 0.3;
}
.links__double:active .links__double--pink {
  fill: #283645;
}
