@headerColorText: #ffffff;
@headerBackground: #283645;

.page-header {
  background-color: @headerBackground;
  width: 320px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.page-header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
}
.menu__list {
  margin: 0px;
  padding: 0px;
  .ad-flex(flex; column; center; center; wrap);
  list-style: none;
  width: inherit;
}
.list__item--upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: inherit;
  height: 69px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(29, 38, 49, 0.6);
}
.upper--open-color {
  background-color: @headerBackground;
}
.list__item--back {
  position: absolute;
  z-index: 0;
}
.list__item {
  width: inherit;
  height: 63px;
  .ad-flex(flex; row; center; center; wrap);
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}
.menu__list-close {
  display: none;
}
.item__link {
  color: @headerColorText;
  text-decoration: none;
}
.main-nav__toggle--cross,
.main-nav__toggle--burger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .width-height(50px; 25px);
  background-color: transparent;
  border: none;
}
.main-nav__toggle--cross-close {
  display: none;
}
.main-nav__toggle--burger-close {
  display: none;
}
.item__link:hover {
  color: @pink-color;
}
.item__link:active {
  opacity: 0.3;
}

