@headerColorText: #ffffff;

@headerBackground: #283645;

@tabletWidth: 660px;

@desktopWidth: 1200px;

@retina-dppx: 1.5dppx;

.page-header {
  background-color: rgba(29, 38, 49, 0.6);
  width: 100%;
  min-height: 69px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.page-header__link--middle {
  margin: 0px;
  padding: 0px;
  .ad-flex(none; column; center; center; wrap);
  list-style: none;
  background-color: @headerBackground;
}

.page-header__list-broad {
  display: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  min-width: 320px;
}

.page-header__menu-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 69px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
}

.page-header__menu {
  margin: 0px;
  padding: 0px;
  .ad-flex(flex; column; center; center; wrap);
  list-style: none;
  min-width: 320px;
  background-color: rgba(29, 38, 49, 0.6);
}

.menu__list {
  margin: 0px;
  padding: 0px;
  .ad-flex(flex; column; center; center; wrap);
  list-style: none;
  width: 100%;
  background-color: @headerBackground;
}

.upper--open-color {
  background-color: @headerBackground;
}

.page-header__list-article--back {
  position: absolute;
  z-index: 0;
}

.page-header__list-article {
  width: 100%;
  min-height: 63px;
  .ad-flex(flex; row; center; center; wrap);
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.page-header__list {
  display: none;
}

.page-header__list-link {
  color: @headerColorText;
  text-decoration: none;
  transition: color 0.3s;
}

.page-header__link--tight {
  color: @headerColorText;
  text-decoration: none;
}

.main-nav__toggle--cross,
.page-header__burger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .width-height(50px; 25px);
  background-color: transparent;
  border: none;
}

.page-header__cross {
  margin: 0px;
  padding: 0px;
  .ad-flex(none; column; center; center; wrap);
  list-style: none;
  min-width: 320px;
  background-color: @headerBackground;
}

.page-header__burger-close {
  margin: 0px;
  padding: 0px;
  .ad-flex(none; column; center; center; wrap);
  list-style: none;
  min-width: 320px;
  background-color: @headerBackground;
}

.page-header__list-link:hover {
  color: @pink-color;
}

.page-header__list-link:active {
  opacity: 0.3;
}

.page-header__burger-icon {
  fill: #ffffff;
  transition: fill 0.3s;
}

.page-header__burger-icon:hover {
  fill: @pink-color;
  cursor: pointer;
}

.page-header__cross-icon {
  transition: fill 0.3s;
  fill: #ffffff;
}

.page-header__cross-icon:hover {
  fill: @pink-color;
  cursor: pointer;
}

.page-header__list-article--back {
  min-width: 320px;
  min-height: 69px;
}

@media (min-width: @tabletWidth) {
  .page-header {
    min-width: 660px;
    min-height: 110px;
  }

  .page-header__menu {
    min-width: 660px;
    min-height: 110px;
  }

  .menu__list {
    min-width: 660px;
  }

  .page-header__menu-upper {
    min-width: 660px;
    height: 110px;
  }

  .page-header__list-article {
    width: 100%;
  }

  .page-header__link--tight {
    display: none;
  }

  .page-header__link--middle {
    display: flex;
    background-color: transparent;
  }
}

@media (min-width: @desktopWidth) {
  .page-header__list-article--back {
    display: none;
  }
}

@media (min-width: @desktopWidth) {
  .page-header {
    min-width: 1200px;
    min-height: 110px;
    .ad-flex(flex; row; center; center; wrap);
    text-transform: none;
    font-weight: normal;
    background-color: rgba(29, 38, 49, 0.6);
  }

  .page-header__menu {
    .ad-flex(flex; row; center; center; wrap);
    min-width: 1200px;
    min-height: 110px;
    background-color: transparent;
  }

  .menu__list {
    min-width: 660px;
  }

  .page-header__list-article {
    width: 660px;
  }

  .page-header__link--tight {
    display: none;
  }

  .page-header__link--middle {
    display: none;
  }

  .page-header__burger {
    display: none;
  }

  .page-header__cross {
    display: none;
  }

  .page-header__list-broad {
    .ad-flex(flex; row; space-between; center; wrap);
    width: 1200px;
    box-sizing: border-box;
    padding-left: 110px;
    padding-right: 110px;
    min-height: 110px;
    background-color: transparent;
  }

  .page-header__menu-upper {
    display: none;
  }

  .page-header__list-broad-link {
    margin-right: 60px;
  }
}

@media (min-width: @desktopWidth) {
  .page-header__list {
    display: none;
  }

  .page-header__list-article {
    display: none;
  }
}

.active-desktop-link {
  animation: borderShow 0.3s linear forwards;
  -moz-animation: borderShow 0.3s linear forwards;
}

@keyframes borderShow {
  0% {
    border-bottom: 2px solid transparent;
  }

  100% {
    border-bottom: 2px solid #ffffff;
  }
}

@-moz-keyframes borderShow {
  0% {
    border-bottom: 2px solid transparent;
  }

  100% {
    border-bottom: 2px solid #ffffff;
  }
}

