.contacts {
  .ad-flex(flex; column; center; center; wrap);
  text-align: center;
  margin-top: 30px;
}
.contacts__title {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  line-height: 30px;
  width: 100%;
}
.call__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.tel,
.call__academy,
.call__adress {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  margin-top: 0px;
  width: 320px;
}
.tel:hover,
.call__academy:hover {
  color: @blue-color;
  text-decoration: underline;
}
.tel:active,
.call__academy:active {
  color: @blue-color;
  text-decoration: none;
  opacity: 0.3;
}
.contacts__map--marker {
  position: absolute;
  top: 130px;
  z-index: 1;
}
.contacts__map--wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

