@greyColour: #f2f2f2;

.price-menu {
  margin-top: 0px;
  background-color: @greyColour;
  .ad-flex(flex; row; center; center; wrap);
}
.slider-price {
  padding-top: 60px;
  width: 320px;
  .ad-flex(flex; column; center; center; wrap);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.slider__inner--price {
  overflow: hidden;
}
.pink-filter,
.smiles,
.comments {
  list-style: none;
  outline: 2px solid @greyColour;
  padding: 12px 22px 12px 22px;
  .ad-flex(flex; row; space-between; center; wrap);
}
.pink-filter-hit {
  list-style: none;
  outline: 2px solid @greyColour;
  padding: 12px 22px 12px 22px;
  .ad-flex(flex; row; space-between; center; wrap);
  height: 31px;
}
.price-title {
  text-align: center;
  background-color: #283645;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.price-title-hit {
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 0px;
  background: url(../img/bg-hit.svg) no-repeat;
  background-color: #283645;
  position: relative;
  height: 60px;
}
.hit {
  position: absolute;
  left: 11px;
  top: 12px;
  transform: rotate(-45deg);
  font-weight: normal;
  font-size: 15px;
}
.cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.price--1,
.price--2,
.price--3 {
  outline: 2px solid @greyColour;
}

.price__option {
  background-color: #ffffff;
  margin-top: 0px;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0px;
}

.standart-pink {

  fill: #3dc644;
}
.standart-comments {

  fill: #f25b26;
}
.standart-smiles {

  fill: #3dc644;
}
.base-pink {

  fill: #3dc644;
}
.base-comments {

  fill: #f25b26;
}
.base-smiles {

  fill: #f25b26;
}
.unlim-pink {

  fill: #3dc644;
}
.unlim-comments {

  fill: #3dc644;
}
.unlim-smiles {

  fill: #3dc644;
}



.slider-2 {
  position: relative;
  .ad-flex(flex; column-reverse; center; center; wrap);
}

.slider-2 input[type="radio"] {
  display: none;
}


.inner__slides--price {
  width: 300%;
  transition: transform 0.8s ease;
}

.inner__slides--price .price--1,
.inner__slides--price .price--2,
.inner__slides--price .price--3 {
  float: left;
  width: 276px;
}

.slider__controls--price {
  margin-bottom: 10px;
  text-align: center;
  .ad-flex(flex; row; space-between; center; wrap);
  width: 50px;
}

.slider__controls--price label {
  .ad-flex(flex; row; center; center; wrap);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  cursor: pointer;
  transition: border 0.2s;
  border: 3px solid @greyColour;
}

#slide-1:checked ~ .slider__controls--price label[for="slide-1"],
#slide-2:checked ~ .slider__controls--price label[for="slide-2"],
#slide-3:checked ~ .slider__controls--price label[for="slide-3"] {
  border: 3px solid @blue-color;
  background-color: transparent;
}


#slide-1:checked ~ .slider__inner--price .inner__slides--price {
  transform: translate(20px);
}

#slide-2:checked ~ .slider__inner--price .inner__slides--price {
  transform: translate(-253px);
}

#slide-3:checked ~ .slider__inner--price .inner__slides--price {
  transform: translate(-528px);
}
