@greyColour: #f2f2f2;

.price-menu {
  margin-top: 0px;
  background-color: @greyColour;
  .ad-flex(flex; column; center; center; wrap);
}
.slider-price {
  padding-top: 60px;
  width: 276px;
  .ad-flex(flex; column; center; center; wrap);
}
.slider__inner--price {
  width: 276px;
}
.pink-filter,
.smiles,
.comments {
  list-style: none;
  outline: 2px solid @greyColour;
  padding: 12px 22px 12px 22px;
}
.price-title {
  text-align: center;
  background-color: #283645;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.price-title-hit {
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 0px;
  background: url(../img/bg-hit.svg) no-repeat;
  background-color: #283645;
  position: relative;
}
.hit {
  position: absolute;
  left: 11px;
  top: 12px;
  transform: rotate(-45deg);
  font-weight: normal;
  font-size: 15px;
}
.cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.price--1,
.price--2,
.price--3 {
  outline: 2px solid @greyColour;
}
.price__option {
  background-color: #ffffff;
  margin-top: 0px;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0px;
}
.price__controls--hidden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 45px;
}
.standart-pink {
  margin-left: 75px;
  fill: #3dc644;
}
.standart-comments {
  margin-left: 95px;
  fill: #f25b26;
}
.standart-smiles {
  margin-left: 125px;
  fill: #3dc644;
}
.base-pink {
  margin-left: 75px;
  fill: #3dc644;
}
.base-comments {
  margin-left: 95px;
  fill: #f25b26;
}
.base-smiles {
  margin-left: 125px;
  fill: #3dc644;
}
.unlim-pink {
  margin-left: 75px;
  fill: #3dc644;
}
.unlim-comments {
  margin-left: 95px;
  fill: #f25b26;
}
.unlim-smiles {
  margin-left: 125px;
  fill: #3dc644;
}
