.price-menu {
  margin-top: 0px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-price {
  padding-top: 60px;
  width: 276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider__inner--price {
  width: 276px;
}
.pink-filter,
.smiles,
.comments {
  list-style: none;
  outline: 2px solid #f2f2f2;
  padding: 12px 22px 12px 22px;
}
.price-title {
  text-align: center;
  background-color: #283645;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 0px;

}
.cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.price--1,
.price--2,
.price--3 {
  outline: 2px solid #f2f2f2;
}
.price__option {
  background-color: #ffffff;
  margin-top: 0px;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0px;
}
.price__controls--hidden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 45px;
}

