@pink-color: #d22856;

@blue-color: #283645;

@width: 276px;

.about-me__send-message-form {
  width: @width;
  .ad-flex(flex; column; center; center; wrap);
  padding-left: 0px;
}

.about-me__emotions {
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 2px;
  margin-left: 20px;
  font-weight: 300;
  margin-left: 0px;
}

.emotions__describe {
  min-height: 59px;
  width: @width;
  font-size: 18px;
  min-height: 197px;
  color: #283645;
  box-sizing: border-box;
  padding: 16px;
  font-family: 'OpenSans', sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}

.emotions__describe:hover {
  border-color: @blue-color;
}

.emotions__describe:focus {
  border-color: @pink-color;
}

.about-me__form-send {
  width: 276px;
  height: 60px;
  background-color: #2aab6d;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 52px;
  cursor: pointer;
}

.about-me__form-send:hover {
  background-color: #1c9b5e;
}

.about-me__form-send:active {
  color: rgba(255, 255, 255, 0.3);
}

.about-me__necessary {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @blue-color;
}

.form-pink {
  color: @pink-color;
}

.about-me__form-send-medium,
.about-me__necessary-medium {
  display: none;
}

.about-me__send-message-form-medium {
  display: none;
}

@media (min-width: @tabletWidth) {
  .about-me__send-message-form {
    margin-top: 60px;
    width: 616px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    padding: 54px 60px 54px 60px;
  }

  .about-me__emotions {
    width: 260px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -15px;
    background-color: #ffffff;
    text-align: center;
  }

  .emotions__describe {
    width: 496px;
    min-height: 190px;
  }

  .about-me__form-send,
  .about-me__necessary {
    display: none;
  }

  .about-me__send-message-form-medium {
    .ad-flex(flex; row; space-between; center; wrap);
    width: 616px;
    margin-top: 71px;
  }

  .about-me__form-send-medium,
  .about-me__necessary-medium {
    .ad-flex(flex; row; center; center; wrap);
    margin: 0px;
    padding: 0px;
  }

  .about-me__form-send-medium {
    width: 296px;
    height: 60px;
    background-color: #2aab6d;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }

  .about-me__form-send-medium:hover {
    background-color: #1c9b5e;
  }

  .about-me__form-send-medium:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .about-me__necessary-medium {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @blue-color;
  }
}

@media (min-width: @desktopWidth) {
  .about-me__send-message-form {
    width: 936px;
  }

  .emotions__describe {
    width: 816px;
  }

  .about-me__send-message-form-medium {
    width: 936px;
  }
}
