.system__list {
  .ad-flex(flex; column; center; center; wrap);
  padding-left: 0px;
  margin-top: 30px;
  background-color: #f2f2f2;
  padding-top: 20px;
}
.system__list--item {
  width: 320px;
  margin-bottom: 47px;
  padding-left: 22px;
  box-sizing: border-box;
}
.form__system {
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 2px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 320px;
}
.system__wrap {
  .ad-flex(flex; row; flex-start; center; wrap);
  color: @blue-color;
  font-size: 18px;
}
.system__radio {
  display: none;
}
.system__radio--change {
  display: flex;
  width: 35px;
  height: 35px;
  margin-right: 33px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
.system__radio--change:hover {
  border-color: @blue-color;
}
.system__radio--change::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: @pink-color;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.2s;
}
.system__radio:checked + .system__radio--change::before {
  opacity: 1;
}
.system__radio:checked + .system__radio--change {
  border-color: @pink-color;
}
