.about-me__system-list-choise {
  .ad-flex(flex; column; center; center; wrap);
  padding-left: 0px;
  margin-top: 30px;
  background-color: #f2f2f2;
  padding-top: 20px;
}

.about-me__choise-item {
  width: 320px;
  margin-bottom: 47px;
  padding-left: 22px;
  box-sizing: border-box;
}

.about-me__form-system-choise {
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 2px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 320px;
}

.about-me__system-wrap {
  .ad-flex(flex; row; flex-start; center; wrap);
  color: @blue-color;
  font-size: 18px;
}

.about-me__system-radio {
  display: none;
}

.about-me__system-radio--change {
  display: flex;
  margin-right: 33px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  .width-height(35px; 35px);
}

.about-me__system-radio--change:hover {
  border-color: @blue-color;
}

.about-me__system-radio--change::before {
  content: "";
  .width-height(15px; 15px);
  background-color: @pink-color;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.2s;
}

.about-me__system-radio:checked + .about-me__system-radio--change::before {
  opacity: 1;
}

.about-me__system-radio:checked + .about-me__system-radio--change {
  border-color: @pink-color;
}

@media (min-width: @tabletWidth) {
  .about-me__system-list-choise {
    margin-bottom: 60px;
    margin-top: 0px;
    width: 616px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    padding: 54px 60px 54px 60px;
  }

  .about-me__form-system-choise {
    width: 368px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -15px;
    background-color: #ffffff;
  }

  .about-me__choise-item {
    .ad-flex(flex; row; flex-start; center; wrap);
    align-self: flex-start;
    padding-left: 0px;
  }
}

@media (min-width: @desktopWidth) {
  .about-me__system-list-choise {
    display: none;
  }
}
