@main-color: #ffffff;
@main-font: 'OpenSans', sans-serif;
@mainWidth: 320px;
@main-margin: 0px auto 0px auto;
@main-padding: 0px;

body {
  background-color: @main-color;
  font-family: @main-font;
  padding: @main-padding;
  margin: @main-margin;
  width: @mainWidth;
}
@import "mixins";
@import "blocks/page-header";
@import "blocks/main-background";
@import "blocks/about-app";
@import "blocks/advertisement-app";
@import "blocks/price-menu";
@import "blocks/page-footer";
@import "blocks/page-main-photo";
@import "blocks/main-background__photo--small";
@import "blocks/advertisement-app-photo";
@import "blocks/photo-editor";
@import "blocks/page__footer";
@import "blocks/form__main-description";
@import "blocks/about-me";
@import "blocks/name__list";
@import "blocks/achievement__list";
@import "blocks/contact__list";
@import "blocks/system__list";
@import "blocks/send-message__form";
