@main-color: #ffffff;
@main-font: 'OpenSans', sans-serif;
@mainWidth: 320px;
@main-margin: 0px auto 0px auto;
@main-padding: 0px;

body {
  background-color: @main-color;
  font-family: @main-font;
  padding: @main-padding;
  margin: @main-margin;
  width: @mainWidth;
}

@import "blocks/page-header.less";
@import "blocks/main-background.less";
@import "blocks/about-app.less";
@import "blocks/advertisement-app.less";
@import "blocks/price-menu.less";
@import "blocks/page-footer.less";
@import "blocks/page-main-photo.less";
@import "blocks/main-background__photo--small.less";
@import "blocks/advertisement-app-photo.less";
@import "blocks/photo-editor.less";
@import "blocks/page__footer.less";
@import "blocks/form__main-description.less";
@import "blocks/about-me.less";
@import "blocks/name__list.less";
@import "blocks/achievement__list.less";
@import "blocks/contact__list.less";
@import "blocks/system__list.less";
@import "blocks/send-message__form.less";
